<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>v-jsoneditor</title>
</head>

<body>
  <script src='https://unpkg.com/vue@2.2.6'></script>
  <script src="./vue-read-file.min.js"></script>
  <div id="app">
    <template>
        <p style="text-align:center;">accept <input type="text" v-model="accept"></p>
        <vue-read-file v-model="file" :accept="accept" :position="position"></vue-read-file>
        <p>{{ file }}</p>
    </template>
  </div>
  <script>
    var Main = {
      name: 'test',
      data() {
        return {
          file: '',
          accept: '.zip',
          position: 'center'
        }
      }
    };
    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')
  </script>
</body>

</html>